In [1]:
import pandas as pd
import numpy as np

In [4]:
data= pd.read_excel('datasets/datasets/stark_data.xlsx')

In [5]:
data

  Character   Age  Gender  Survived
0    Eddard  52.0    Male         0
1      John  27.0    Male         1
2      Arya  21.0  Female         1
3      Bran  19.0    Male         1
4      Robb   NaN    Male         0
5     Sansa  24.0  Female         1

In [6]:
x_gender=data.iloc[:,2].values
x_gender

array(['Male', 'Male', 'Female', 'Male', 'Male', 'Female'], dtype=object)

In [8]:
X_dummy=pd.get_dummies(x_gender)

In [9]:
X_dummy

   Female  Male
0       0     1
1       0     1
2       1     0
3       0     1
4       0     1
5       1     0

In [10]:
X_dummy=pd.get_dummies(X_gender,drop_first=True)
X_dumy

NameError: name 'X_gender' is not defined